.inpu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.sel{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.add
{
  margin-top: 2rem;
  background-color: rgba(22, 22, 22, 0.744);
  border: none;
  color: white;
  border-radius: 25px;
  height: 3rem;
  width: 100%;    
  box-shadow: 10rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1rem;
}

.add:hover{
  background-color: rgb(95, 40, 122);
  box-shadow: 0px 15px 20px rgb(66, 11, 93);
  color: #fff;
  transform: translateY(-7px);

}