.cart-img{
    height:5rem;
    position: flex;
    width: 4rem;
    border-radius: 15px;

}

.list-cart{
    color: white;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.error{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 15rem 0;
}


.list{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    flex-direction: row;
    padding: auto;
    align-items: center;
}

.inf{
    text-align: center;
}

.title{
    text-align: center;
    box-shadow: none;
}

.change_amountt
{
    text-align: center;
    background-color: rgba(22, 22, 22, 0.744);
    border: none;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 6rem;    
    box-shadow: 10rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.order{

    position: relative;
    text-align: center;
    background-color: rgba(22, 22, 22, 0.744);
    border: none;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 100%;    
    box-shadow: 10rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;



}

.pagee{
    margin-left: 8rem;
    margin-right: 8rem;

}


.order:hover{
    background-color: rgb(95, 40, 122);
    box-shadow: 0px 15px 20px rgb(66, 11, 93);
    color: #fff;
    transform: translateY(-7px);
  
  }

.change_amount{
    text-align: center;
    background-color: rgba(22, 22, 22, 0.744);
    border: none;
    color: white;
    border-radius: 25px;
    height: 3rem;
    width: 6rem;    
    box-shadow: 10rem;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

}

.change_amount:hover{
    background-color: rgb(95, 40, 122);
    box-shadow: 0px 15px 20px rgb(66, 11, 93);
    color: #fff;
    transform: translateY(-7px);
  
  }
  .change_amountt:hover{
    background-color: rgb(95, 40, 122);
    box-shadow: 0px 15px 20px rgb(66, 11, 93);
    color: #fff;
    transform: translateY(-7px);
  
  }

.koszyk{
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: .1rem 0;
}

.warning{
    color:#fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}