*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
}

.navbar{

    background-color: rgb(38, 39, 52);
    opacity: 90%;
    color: white;
    display: flex;
    position: relative;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    z-index: 100;
}

.navbar p{

    position: relative;
    display: block;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    z-index: 0;

 
}

li p::before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 55, 73);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

li p:hover::before,
li p:focus::before{
    transform: scale(1);
}

.hover-animation ul{

    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.hover-animation li{
    float: left;
}

.hover-animation
{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}

.hover-animation::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.hover-animation:hover
{
    transition: .25s;
}

.hover-animation:hover::after
{
    
    transform: scaleX(1);
    transform-origin: bottom left;
}

.right-nav{
padding: 1rem;
margin: 0;
display: flex;
gap: 2rem;
list-style: none;

}

input[type="text"] {
    width: 300px;
    height: 30px;
    padding-right: 50px;
    margin-top: 40px;
    border: 0ch;
   
}

.right-nav button{
    margin-left: -80px;
    height: 70px;
    width: 50px;
    margin-top: 20px; 
    background-color: rgb(38, 39, 52);
    border: 0;
}

.nav-img{
    width: 20px;
}

.nav-img-user
{
    margin-right: -60px;


}
.nav-im
{
    margin-top: 35px;
    width: 30px;
}

.logged-box-item
{

    position: relative;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    z-index: 0;   
}

.logged-box 
{
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;

}

.sing-out
{
    color: #fff;
}


.box-animation p::before
{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(53, 55, 73);
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

.box-animation p:hover::before,
.box-animation p:focus::before{
    transform: scale(1);
}

.sticky
{
    position: sticky!important;
    z-index: 100;
    top: 0;


}