

.products-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.page
{
    margin-left: 13rem;
    margin-right: 13rem;
    background: transparent;
}

.whole
{
    background: #20072f;
    background: linear-gradient(90deg, rgba(32,7,47,1) 0%, rgba(19,18,18,1) 10%, rgba(19,18,18,1) 90%, rgba(32,7,47,1) 100%);
}