.product-box{
    border: 2px rgb(255, 255, 255) solid;
    
    width: 300px;
    margin: 5px;
    padding: 10px;
    color: aliceblue;
    
}

.product-img{
    height: 400px;
    width: 250px;
    object-fit: center;
}